body {
  font-family: Arial, Helvetica, sans-serif;
}
.Weather App {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  color: rgb(26, 17, 80, 0.8);
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
