body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  color: rgb(26, 17, 80, 0.8);
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.Weather {
  padding: 20px;
  border: 1px solid #9cb2ce;
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 6px;
  height: 64px;
  width: 64px;
  float: left;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
